<!-- Content -->
<div class="wow fadeIn">
  <h1 class="text-center mb-4"><%= @user.username %>'s profile
    <span id="user-status-user-<%= @user.id %>" class="text-muted"><%= "(admin)" if @user.admin%></span></h1>

  <%= gravatar_for @user, size: 200 %>

  <div class="text-center mt-4 mb-4">
    <% if logged_in? && (@user == current_user || !current_user.admin?) %>
      <%= link_to 'New Article', new_article_path, class: "btn btn-info ms-1 me-1" %>
      <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-primary ms-1 me-1" %>
    <% end %>
    <% if logged_in? && (@user == current_user  || current_user.admin?) %>
      <% unless @user.admin? && (User.where(:admin => true).count < 2) %>
        <%= link_to 'Delete Account', user_path(@user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger col-auto ms-1 me-1" %>
      <% end %>
    <% end %>
    <div class="user-<%= @user.id %>">
      <% if logged_in? && @user != current_user &&current_user.admin? %>
        <%= link_to "#{ @user.admin ? 'Demote from Admins' : 'Promote to Admins' }", toggle_admin_user_path(@user), method: :patch, remote: :true, data: {confirm: "Are you sure?"}, class: "btn btn-#{ @user.admin ? 'danger' : 'secondary' } mt-2 mb-2" %>
      <% end %>
    </div>
  </div>

  <div class="container col-8 text-center">
    <% @categories.order('name ASC').each do | category | %>
      <% #cache category do %>
        <% if (count =(userarticlesbycategory = category.articles.where(:user_id => @user.id)).count) > 0 %>
          <% #cache userarticlesbycategory do %>
            <%= link_to((category.name + " " + content_tag(:span, count, :class => "badge bg-primary shadow rounded-pill")).html_safe, user_path(@user,:category => category.slug), class: class_names("btn btn-secondary shadow btn-sm mb-1", { active: current_page?(user_path(@user,:category_id => category.id)) } )) %>
          <% #end %>
        <% #end %>
      <% end %>
    <% end %>
    <%= link_to(('All Articles' + " " + content_tag(:span, @alluserarticles.count, :class => "badge bg-primary shadow rounded-pill")).html_safe, user_path(@user), class: class_names("btn btn-secondary shadow btn-sm mb-1", { active: !params[:category_id] })) %>
  </div>

  <h3 class="text-center mt-4">Articles</h3>
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <%= render 'articles/articles' %>
  <div class="flickr_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>

<!-- End Content -->

<div class="mb-3 text-center">
  <%= link_to '[ Back to Contriutors ]', users_path, class: "link-secondary" %>
</div>
