<% if params[:togglefeatured] %>
  <% if @category.featured? %>
    $('#edit-featured-category-<%= @category.id %>').html('Featured').addClass('active');
    $('#featured-menu').append('<li id=\"featured-link-<%= @category.id %>\"><%= link_to((@category.name + " " + content_tag(:span, @category.article_count, :class => "badge bg-primary shadow rounded-pill")).html_safe, category_path(@category.id), class: "dropdown-item text-gray") %></li>');
  <% elsif !@category.featured? %>
    $('#edit-featured-category-<%= @category.id %>').html('Feature?').removeClass('active');
    $('#featured-link-<%= @category.id %>').remove();
  <% end %>
<% end %>
<% if params[:editcat] %>
  $('#category-<%= @category.id %>.update-cat').html("<%= j (render partial: 'stateEdit') %>").removeClass("update-cat").addClass("update-cat-unsaved");
<% end %>
