  <h1 class="text-center mb-4"><%= @category.name %></h1>
<h4 class="text-center mb-4"><%= @category.meta_description %></h4>
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <%= render partial: 'articles/articles', collection: @articles, cached: false %>
  <div class="flickr_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
  </div>

  <div class="mb-3 text-center">
    <%= link_to '[ Back to Categories ]', categories_path, class: "link-secondary" %>
  </div>
