<!-- Navbar -->
<nav class="navbar shadow fixed-top navbar-expand-lg navbar-dark scrolling-navbar p-md-1">
  <div class="container">

    <!-- Brand -->
    <%= link_to "Alpha Photography Blog", root_path, class: "navbar-brand test-muted text-uppercase", id: "logo" %>

    <!-- Collapse -->

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <!-- Right -->
    <div class="mx-auto mr-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link text-gray" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link text-gray" %>
        </li>
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle text-gray" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Blog
         </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><%= link_to "View Articles", articles_path, class: "dropdown-item text-gray" %></li>
          <li><%= link_to "New Article", new_article_path, class: "dropdown-item text-gray" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Sign up!", signup_path, class: "dropdown-item text-gray" %></li>
          <li><%= link_to "Bloggers", users_path, class: "dropdown-item text-gray" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Log in", login_path, class: "dropdown-item text-gray" %></li>
          <li><%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item text-gray" %></li>
         </ul>
       </li>
        <li class="nav-item">
          <a class="nav-link text-gray" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-gray" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <!-- end Navbar -->
