<!doctype html>
<html lang="en">
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <% current_user %>

  <body class="d-flex flex-column">
    <div id="page-content">
      <%= render 'layouts/navigation' %>
      <!-- Correcting for Transparent Navbar -->
      <% unless current_page?(root_path) %>
         <br/><br/><br/>
      <% end %>
      <!-- End Correcting for Transparent Navbar -->
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>

    <script type="text/javascript">
      var nav = document.querySelector('nav');
      window.addEventListener('scroll', function () {
        if (window.pageYOffset > 50) {
          nav.classList.add('bg-dark', 'animated', 'fadein');
        } else {
          nav.classList.remove('bg-dark', 'animated', 'fadein');
        }
    });

    window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 3000);
</script>
  </body>
</html>
